# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.env

# VS Code
.vscode/

#session
.session
.session-journal

#agent
.agent


# Logs
*.log

# Database / session
*.session
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/